*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';

}
.navbar{
    display: grid;
    background-image: linear-gradient(to  right, #60A3D9 ,#0074B7 );
    width: 100vw;
    height: 9vh;
    grid-template-columns: 20vw 20vw 20vw;
    column-gap: 5vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    list-style-type: none;
}

.linkText:hover{
    color: #33df6f;
    background-color: #154c28;
    transition-duration: 1s;
}
.linkText{
    text-decoration: none;
    padding: 10px 10px;
    background-color: rgb(178, 147, 227);
    justify-content: center;
    border: 2px solid blue;
    border-radius: 200px;

}
